.navbar-parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background: linear-gradient(180deg, #0c1b22 0%, #1c3134 100%);
  border-bottom: 1px solid #ebebeb;
  height: 900.5vh;
  width: 10%;
}