* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: #ffffffcc;
  font-family: avenir;
}
a {
  color: inherit;
}

:root {
  ::-webkit-scrollbar {
    display: none;
  }
}

#root {
  position: fixed;
  background: linear-gradient(180deg, #0c1b22 0%, #1c3134 100%);
  background-size: cover;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  overflow-y: scroll;
  z-index: -10;
}

.background {
  .wave1,
  .wave2,
  .wave3 {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;
  }
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: unset;
}

/* ---------------------------------- Intro --------------------------------- */

.intro {
  display: flex;
  flex-direction: column;
  width: 87.5%;
  margin: 2%;
  // gap: 16px;
  // height: 100%;
  // border: white solid 2px;

  > * {
    margin-bottom: 2%;
  }

  .intro-header {
    line-height: 140%;
    font-size: clamp(40px, 3.13vw, 3.13vw);
    font-size: minmax(40px, 3.13vw);
  }

  .intro-subheader {
    line-height: 140%;
    font-weight: 500;
    font-size: clamp(28px, 1.9vw, 1.9vw);
    // font-size: minmax(28px, 1.9vw);
  }

  .intro-text {
    line-height: 140%;
    font-size: clamp(24px, 0.8vw, 0.8vw);
    // font-size: minmax(20px, 1.2vw);
  }

  .more-links {
    display: flex;
    width: 100%;
    line-height: 140%;
    font-size: clamp(24px, 0.8vw, 0.8vw);
    color: #90caf9;
    margin: 1% 0;
    // border: white solid 2px;
  }
}

/* -------------------------------- Projects -------------------------------- */

.projects {
  border: white solid 2px;
  width: 87.5%;
  // height: 1000px;
}
